[Desktop Entry]
Type=Application
Name=android
releases=7.1 8.1 9.0
editions=x86 x86_64
replace="!"
Exec=sh -c 'cd /home/zen/git/distrohopper && yad --form --separator=" " --field="Release:CB" "7.1"!"8.1"!"9.0" --field="Edition:CB" "x86"!"x86_64" | xargs -I{} sh -c "./quickget android {}"'
Icon=/home/zen/git/distrohopper/icons/android.svg
Categories=System;Virtualization;

