[Desktop Entry]
Version=0.80
Type=Application
Name=android
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	9.0"!"8.1"!"7.1" --field="Edition:CB" "	x86_64"!"x86" | xargs -I{} sh -c "quickget android {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/android.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

