[Desktop Entry]
Version=0.80
Type=Application
Name=archlinux
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	latest" | cut -d"|" -f1 | xargs -I{} sh -c "quickget archlinux {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/tux.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

