[Desktop Entry]
Version=0.80
Type=Application
Name=archcraft
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	latest" | cut -d"|" -f1 | xargs -I{} sh -c "quickget archcraft {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/archcraft.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

