[Desktop Entry]
Version=0.80
Type=Application
Name=batocera
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	last"!"41"!"40"!"39"!"38" | cut -d"|" -f1 | xargs -I{} sh -c "quickget batocera {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/batocera.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

