[Desktop Entry]
Version=0.80
Type=Application
Name=batocera
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --field="Release:CB" "32"!"33"!"34" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget batocera {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/batocera.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

