[Desktop Entry]
Version=0.80
Type=Application
Name=crunchbang++
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	12.0"!"11.2"!"10.1"!"9.0" | cut -d"|" -f1 | xargs -I{} sh -c "quickget crunchbang++ {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/tux.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

