[Desktop Entry]
Version=0.80
Type=Application
Name=devuan
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	daedalus"!"chimaera"!"beowulf" | cut -d"|" -f1 | xargs -I{} sh -c "quickget devuan {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/devuan.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

