[Desktop Entry]
Type=Application
Name=devuan
releases=beowulf chimaera
replace="!"
Exec=sh -c 'cd "/home/zen/git/distrohopper" && yad --form --field="Release:CB" "beowulf"!"chimaera" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget devuan {}"'
Icon=/home/zen/git/distrohopper/icons/devuan.svg
Categories=System;Virtualization;

