[Desktop Entry]
Type=Application
Name=dietpi
releases=bios uefi
editions=bookworm bookworm-installer bullseye bullseye-installer
replace="!"
Exec=sh -c 'cd /home/zen/git/distrohopper && yad --form --separator=" " --field="Release:CB" "bios"!"uefi" --field="Edition:CB" "bookworm"!"bookworm-installer"!"bullseye"!"bullseye-installer" | xargs -I{} sh -c " dietpi {}'
Icon=/home/zen/git/distrohopper/icons/dietpi.png
Categories=System;Virtualization;

