[Desktop Entry]
Version=0.80
Type=Application
Name=edubuntu
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	24.04"!"25.04"!"daily-live" | cut -d"|" -f1 | xargs -I{} sh -c "quickget edubuntu {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/edubuntu.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

