[Desktop Entry]
Version=0.80
Type=Application
Name=endeavouros
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	mercury-neo-2025.03.19"!"mercury-2025.02.08"!"gemini-2024.04.20" | cut -d"|" -f1 | xargs -I{} sh -c "quickget endeavouros {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/endeavouros.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

