[Desktop Entry]
Version=0.80
Type=Application
Name=freedos
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	1.4"!"1.3"!"1.2" | cut -d"|" -f1 | xargs -I{} sh -c "quickget freedos {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/freedos.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

