[Desktop Entry]
Version=0.77b
Type=Application
Name=freedos
GenericName=
Comment=
Exec=xterm-256color -e sh -c 'cd /home/zen/git/distrohopper && yad --form --field="Release:CB" "1.2"!"1.3" | cut -d\' | \' -f1 | xargs -I{} sh -c "./quickget freedos {}";/usr/bin/fish'
Icon=hop
Terminal=
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

