[Desktop Entry]
Version=0.77b
Type=Application
Name=kali
GenericName=
Comment=
Exec=xterm-256color -e sh -c 'cd /home/zen/git/distrohopper && yad --form --field="Release:CB" "current"!"kali-weekly" | cut -d\' | \' -f1 | xargs -I{} sh -c "./quickget kali {}";/usr/bin/fish'
Icon=hop
Terminal=
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

