[Desktop Entry]
Version=0.77b
Type=Application
Name=kolibrios
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --field="Release:CB" "latest" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget kolibrios {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/kolibrios.png
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

