[Desktop Entry]
Version=0.80
Type=Application
Name=kolibrios
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	latest" --field="Edition:CB" "	en_US"!"ru_RU"!"it_IT"!"es_ES" | xargs -I{} sh -c "quickget kolibrios {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/kolibrios.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

