[Desktop Entry]
Type=Application
Name=kubuntu
releases=16.04 18.04 20.04 22.04 22.10 jammy-daily daily-live daily-canary
replace="!"
Exec=sh -c 'cd /home/zen/git/distrohopper && yad --form --field="Release:CB" "16.04"!"18.04"!"20.04"!"22.04"!"22.10"!"jammy-daily"!"daily-live"!"daily-canary" | cut -d'|' -f1 | xargs -I{} sh -c "./"quickget kubuntu {}'
Icon=/home/zen/git/distrohopper/icons/kubuntu.svg
Categories=System;Virtualization;

