[Desktop Entry]
Version=0.80
Type=Application
Name=lmde
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	6" --field="Edition:CB" "	cinnamon" | xargs -I{} sh -c "quickget lmde {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/lmde.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

