[Desktop Entry]
Version=0.77b
Type=Application
Name=lmde
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/git/distrohopper && yad --form --separator=" " --field="Release:CB" "5" --field="Edition:CB" "cinnamon" | xargs -I{} sh -c "./quickget lmde {}";/usr/bin/fish'
Icon=hop
Terminal=
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

