[Desktop Entry]
Type=Application
Name=mageia
releases=8
editions=Plasma GNOME Xfce
replace="!"
Exec=sh -c 'cd /home/zen/git/distrohopper && yad --form --separator=" " --field="Release:CB" "8" --field="Edition:CB" "Plasma"!"GNOME"!"Xfce" | xargs -I{} sh -c " mageia {}'
Icon=/home/zen/git/distrohopper/icons/mageia.png
Categories=System;Virtualization;

