[Desktop Entry]
Version=0.80
Type=Application
Name=manjaro
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	xfce"!"gnome"!"plasma"!"cinnamon"!"i3"!"sway" --field="Edition:CB" "	full"!"minimal" | xargs -I{} sh -c "quickget manjaro {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/manjaro.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

