[Desktop Entry]
Version=0.80
Type=Application
Name=miyo
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --separator=" " --field="Release:CB" "2022" --field="Edition:CB" "Kwin"!"Deboot-Ceres"!"JWM"!"Openbox"!"MATE" | xargs -I{} sh -c "./quickget miyo {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/miyo.png
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

