[Desktop Entry]
Version=0.80
Type=Application
Name=netboot
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --field="Release:CB" "latest" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget netboot {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/netboot.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

