[Desktop Entry]
Version=0.80
Type=Application
Name=openindiana
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	20250606"!"20250402"!"20241026"!"20240426"!"20231027" --field="Edition:CB" "	gui"!"text"!"minimal" | xargs -I{} sh -c "quickget openindiana {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/openindiana.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

