[Desktop Entry]
Version=0.80
Type=Application
Name=opensuse
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	16.0"!"15.6"!"15.5"!"15.4"!"15.3"!"15.2"!"15.1"!"15.0"!"aeon"!"microos"!"tumbleweed" | cut -d"|" -f1 | xargs -I{} sh -c "quickget opensuse {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/opensuse.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

