[Desktop Entry]
Version=0.80
Type=Application
Name=proxmox-ve
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	9.0-1"!"8.4-1"!"7.4-1"!"6.4-1"!"5.4-1" | cut -d"|" -f1 | xargs -I{} sh -c "quickget proxmox-ve {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/tux.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

