[Desktop Entry]
Version=0.80
Type=Application
Name=rockylinux
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	" --field="Edition:CB" "	minimal"!"dvd"!"boot" | xargs -I{} sh -c "quickget rockylinux {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/tux.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

