[Desktop Entry]
Version=0.77b
Type=Application
Name=rocky
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --separator=" " --field="Release:CB" "8.3"!"8.4"!"8.5"!"8.6"!"8.7"!"9.0"!"9.1" --field="Edition:CB" "minimal"!"dvd"!"boot" | xargs -I{} sh -c "./quickget rocky {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/tux.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

