[Desktop Entry]
Version=0.80
Type=Application
Name=siduction
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	latest" --field="Edition:CB" "	kde"!"lxqt"!"nox"!"xfce"!"xorg" | xargs -I{} sh -c "quickget siduction {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/siduction.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

