[Desktop Entry]
Version=0.80
Type=Application
Name=slax
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	latest" --field="Edition:CB" "	debian"!"slackware" | xargs -I{} sh -c "quickget slax {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/slax.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

