[Desktop Entry]
Version=0.80
Type=Application
Name=slitaz
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	core"!"core-5in1"!"core64"!"loram"!"preinit" | cut -d"|" -f1 | xargs -I{} sh -c "quickget slitaz {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/slitaz.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

