[Desktop Entry]
Version=0.80
Type=Application
Name=solus
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	2024-10-14"!"2025-01-26" --field="Edition:CB" "	Budgie"!"GNOME"!"Plasma"!"XFCE-Beta" | xargs -I{} sh -c "quickget solus {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/solus.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

