[Desktop Entry]
Version=0.80
Type=Application
Name=trisquel
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --separator=" " --field="Release:CB" "	11.0"!"10.0.1" --field="Edition:CB" "	mate"!"lxde"!"kde"!"sugar" | xargs -I{} sh -c "quickget trisquel {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/tux.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

