[Desktop Entry]
Version=0.80
Type=Application
Name=truenas-scale
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	24" | cut -d"|" -f1 | xargs -I{} sh -c "quickget truenas-scale {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/truenas-scale.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

