[Desktop Entry]
Version=0.80
Type=Application
Name=truenas-core
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	13" | cut -d"|" -f1 | xargs -I{} sh -c "quickget truenas-core {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/truenas-core.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

