[Desktop Entry]
Version=0.80
Type=Application
Name=ubuntu-server
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --field="Release:CB" "18.04"!"20.04"!"22.04"!"23.04"!"daily-live" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget ubuntu-server {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/ubuntu-server.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

