[Desktop Entry]
Version=0.77b
Type=Application
Name=ubuntu-mate
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --field="Release:CB" "16.04"!"18.04"!"20.04"!"22.04"!"23.04"!"jammy-daily"!"daily-live"!"daily-canary"!"daily-legacy" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget ubuntu-mate {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/ubuntu-mate.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

