[Desktop Entry]
Version=0.80
Type=Application
Name=ubuntukylin
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	16.04"!"18.04"!"20.04"!"22.04"!"24.04"!"25.04"!"daily-live" | cut -d"|" -f1 | xargs -I{} sh -c "quickget ubuntukylin {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/ubuntukylin.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

