[Desktop Entry]
Version=0.80
Type=Application
Name=ventoy
GenericName=
Comment=
Exec=sh -c 'cd /home/zen/Git/DistroHopper && yad --form --field="Release:CB" "1.0.95" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget ventoy {}";/usr/bin/fish'
Icon=/home/zen/Git/DistroHopper/icons/ventoy.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

