[Desktop Entry]
Type=Application
Name=windows
releases=8 10 11
replace="!"
Exec=sh -c 'cd "/home/zen/git/distrohopper" && yad --form --field="Release:CB" "8"!"10"!"11" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget windows {}"'
Icon=/home/zen/git/distrohopper/icons/windows.svg
Categories=System;Virtualization;

