[Desktop Entry]
Version=0.80
Type=Application
Name=windows
GenericName=
Comment=
Exec=sh -c 'cd /home/z/vm && yad --form --field="Release:CB" "	11"!"10" | cut -d"|" -f1 | xargs -I{} sh -c "quickget windows {}";/bin/bash'
Icon=/usr/share/icons/distrohopper/windows.svg
Terminal=false
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

