[Desktop Entry]
Version=0.80
Type=Application
Name=xero
GenericName=
Comment=
Exec=sh -c 'cd ./ && yad --form --field="Release:CB" "kde" | cut -d"|" -f1 | xargs -I{} sh -c "./quickget xero {}";/usr/bin/fish'
Icon=./icons/xero.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

