[Desktop Entry]
Version=0.80
Type=Application
Name=zorin
GenericName=
Comment=
Exec=sh -c 'cd ./ && yad --form --separator=" " --field="Release:CB" "16" --field="Edition:CB" "core64"!"lite64"!"education64"!"edulite64" | xargs -I{} sh -c "./quickget zorin {}";/usr/bin/fish'
Icon=./icons/zorin.svg
Terminal=sakura
X-MultipleArgs=
Type=Application
Categories=System;Virtualization;
StartupNotify=
MimeType=
Keywords=

