[Desktop Entry]
Type=Application
Name=About yad
Exec=yad --about
Icon=/home/zen/.config/distrohopper/vms_icons/cereus.svg
Categories=System;Virtualization;Settings;
