[Desktop Entry]
Type=Application
Name=About DistroHopper
Exec=yad --info --no-buttons
Icon=/usr/share/icons/distroicons/hop.svg
Categories=System;Virtualization;Settings;
