[Desktop Entry]
Type=Application
Name=Set VMs dir
Exec=set_dir.sh
Icon=/home/zen/.config/distrohopper/vms_icons/cereus.svg
Categories=System;Virtualization;Settings;
