[Desktop Entry]
Type=Application
Name=endeavouros
releases=apollo_22_1 artemis-22_6 artemis_neo_22_7 artemis_neo_22_8 artemis_nova_22_9 atlantis-21_4 atlantis_neo-21_5 cassini_22_12
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "apollo_22_1"!"artemis-22_6"!"artemis_neo_22_7"!"artemis_neo_22_8"!"artemis_nova_22_9"!"atlantis-21_4"!"atlantis_neo-21_5"!"cassini_22_12" | xargs -I{} sakura -e "quickget endeavouros {}"'
Icon=/home/zen/.config/quickemu/vms_icons/endeavouros.svg
Categories=System;Virtualization;
