[Desktop Entry]
Type=Application
Name=fedora
releases=33 34 35 36 37
editions=Workstation Cinnamon i3 KDE LXDE LXQt Mate Xfce Silverblue Server
replace="!"
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "33"!"34"!"35"!"36"!"37" --field="Edition:CB" "Workstation"!"Cinnamon"!"i3"!"KDE"!"LXDE"!"LXQt"!"Mate"!"Xfce"!"Silverblue"!"Server" | xargs -I{} sakura -e "quickget fedora {}"'
Icon=/home/zen/.config/quickemu/vms_icons/fedora.svg
Categories=System;Virtualization;
