[Desktop Entry]
Type=Application
Name=freebsd
releases=12.3 12.4 13.0 13.1 13.2
editions=disc1 dvd1
replace="!"
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "12.3"!"12.4"!"13.0"!"13.1"!"13.2" --field="Edition:CB" "disc1"!"dvd1" | xargs -I{} sakura -e "quickget freebsd {}"'
Icon=/home/zen/.config/quickemu/vms_icons/freebsd.svg
Categories=System;Virtualization;
