[Desktop Entry]
Type=Application
Name=freedos
releases=1.2 1.3
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "1.2"!"1.3" | xargs -I{} sakura -e "quickget freedos {}"'
Icon=/home/zen/.config/quickemu/vms_icons/freedos.svg
Categories=System;Virtualization;
