[Desktop Entry]
Type=Application
Name=fvoid
releases=latest 20230222 20230124 20221021 20220818
editions=lxqt
replace="!"
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "latest"!"20230222"!"20230124"!"20221021"!"20220818" --field="Edition:CB" "lxqt" | xargs -I{} sakura -e "quickget fvoid {}"'
Icon=/home/zen/.config/quickemu/vms_icons/tux.svg
Categories=System;Virtualization;
