[Desktop Entry]
Type=Application
Name=fvoid
releases=latest
editions=
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --field="Release:CB" "latest" --field="Edition:CB" "" | xargs -I{} sakura -h -e "quickget fvoid {}"'
Icon=/home/zen/.config/quickemu/vms_icons/tux.svg
Categories=System;Virtualization;
