[Desktop Entry]
Type=Application
Name=kubuntu
releases=16.04 18.04 20.04 22.04 22.10 jammy-daily daily-live daily-canary                                                                       
editions=
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --field="Release:CB" "16.04"!"18.04"!"20.04"!"22.04"!"22.10"!"jammy-daily"!"daily-live"!"daily-canary"!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!""!"" --field="Edition:CB" "" | xargs -I{} sakura -h -e "quickget kubuntu {}"'
Icon=/home/zen/.config/quickemu/vms_icons/kubuntu.svg
Categories=System;Virtualization;
