[Desktop Entry]
Type=Application
Name=lmde
releases=5
editions=cinnamon
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --field="Release:CB" "5" --field="Edition:CB" "cinnamon" | xargs -I{} sakura -h -e "quickget lmde {}"'
Icon=/home/zen/.config/quickemu/vms_icons/lmde.svg
Categories=System;Virtualization;
