[Desktop Entry]
Type=Application
Name=manjaro
releases=xfce gnome kde budgie cinnamon i3 mate
editions=
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --field="Release:CB" "xfce"!"gnome"!"kde"!"budgie"!"cinnamon"!"i3"!"mate" --field="Edition:CB" "" | xargs -I{} sakura -h -e "quickget manjaro {}"'
Icon=/home/zen/.config/quickemu/vms_icons/manjaro.svg
Categories=System;Virtualization;
