[Desktop Entry]
Type=Application
Name=netbsd
releases=9.0 9.1 9.2
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "9.0"!"9.1"!"9.2" | xargs -I{} sakura -e "quickget netbsd {}"'
Icon=/home/zen/.config/quickemu/vms_icons/netbsd.svg
Categories=System;Virtualization;
