[Desktop Entry]
Type=Application
Name=openbsd
releases=6.8 6.9 7.0 7.1 7.2
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "6.8"!"6.9"!"7.0"!"7.1"!"7.2" | xargs -I{} sakura -e "quickget openbsd {}"'
Icon=/home/zen/.config/quickemu/vms_icons/openbsd.svg
Categories=System;Virtualization;
