[Desktop Entry]
Type=Application
Name=opensuse
releases=15.0 15.1 15.2 15.3 15.4 microos tumbleweed
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "15.0"!"15.1"!"15.2"!"15.3"!"15.4"!"microos"!"tumbleweed" | xargs -I{} sakura -e "quickget opensuse {}"'
Icon=/home/zen/.config/quickemu/vms_icons/opensuse.svg
Categories=System;Virtualization;
