[Desktop Entry]
Type=Application
Name=oraclelinux
releases=7.7 7.8 7.9 8.4 8.5 8.6 9.0
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "7.7"!"7.8"!"7.9"!"8.4"!"8.5"!"8.6"!"9.0" | xargs -I{} sakura -e "quickget oraclelinux {}"'
Icon=/home/zen/.config/quickemu/vms_icons/oraclelinux.svg
Categories=System;Virtualization;
