[Desktop Entry]
Type=Application
Name=reactos
releases=latest
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "latest" | xargs -I{} sakura -e "quickget reactos {}"'
Icon=/home/zen/.config/quickemu/vms_icons/reactos.svg
Categories=System;Virtualization;
