[Desktop Entry]
Type=Application
Name=slitaz
releases=preferred core core64 loram core-5in1 preinit
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --separator=" " --field="Release:CB" "preferred"!"core"!"core64"!"loram"!"core-5in1"!"preinit" | xargs -I{} sakura -e "quickget slitaz {}"'
Icon=/home/zen/.config/quickemu/vms_icons/slitaz.png
Categories=System;Virtualization;
