[Desktop Entry]
Type=Application
Name=truenas-core
releases=12.0 13.0
editions=
replace='"!"'
Exec=sh -c 'cd /home/zen/.local/share/quickemu && yad --form --field="Release:CB" "12.0"!"13.0" --field="Edition:CB" "" | xargs -I{} sakura -h -e "quickget truenas-core {}"'
Icon=/home/zen/.config/quickemu/vms_icons/truenas-core.svg
Categories=System;Virtualization;
