[Desktop Entry]
Type=Application
Name=slitaz-preferred
Exec=quickemu -vm "slitaz-preferred.conf"
Icon=/home/zen/.config/quickemu/vms_icons/slitaz.png
Categories=System;Virtualization;
